body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images2/patt.png);
}
* {
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after,.menu:after,.search:after,.submenu:after, .products:before, .products:after {
    content: "";
    display: block;
    clear: both;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
[class*="col-"] {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.logo {
    padding-top: 7px;
}
.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}
.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.submenu a:hover {
    background-color: white;
    color:  #2c71b8;
    
}
.menu li:last-child {
    border-right: 1px solid #2c71b8; ;
}
.search .type-buttom,.image {
    float: left;
}
.type-buttom {
    border: solid 1px #2d71b8;
    width: 200px ;
    min-height: 40px ;
    margin-right: 30px;
    padding-right: 5px;
    margin-top: 5px;
}
input {
    outline: none;   
    width: 159px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #2c71b8;
    line-height: 35px;
    background-color: transparent;
    border: none;
    padding-left: 30px;
}
.search-submin {
    width: 30px;
    height: 30px;
    background-color:#2d71b8;
    background-image: url("images2/icon (4).png");
    background-repeat: no-repeat;
    border: none;
    margin-top: 4px; 
    margin-left: 4px;
    background-position: center;
    position: absolute;
}
.image {
    width: 40px;
    height: 40px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("images2/icon (1).png");
    background-position: center;  
    margin-top: 5px;
}
.image {
    position: relative;
}
.acount{
    position: absolute;
    border-radius: 50%;
    background-color: #2c71b8;
    width: 18px;
    height: 18px;
    margin-top: -8px;
    margin-left: -8px;
    color: white;
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
}

.submenu li {
    width: 286px;
    float: left;
    border-left: 1px solid  #2c71b8;
    border-right: 1px solid  #2c71b8 ;
    
}
.menu li{
    position: relative;
}
.menu > li:hover .submenu{
    display: block;
    background-color: white;
    color: #2c71b8;
}
.menu > li:hover a {
    background-color: #2c71b8;
    color: white;
}
.submenu li:hover a {
    background-color: white;
    color: #2c71b8;
}
.submenu {
    display: none;
    position: absolute;
    width: 286px; 
    left: -1px;
}
.submenu a {
    display: block;
    height: 45px;
    background-color: #2c71b8;
    color: white;
    text-decoration: none;
    text-align: left;
    line-height: 45px;
    padding: 0px 29px;
}
.menu li {
    position: relative;
}
.color {
    width: 20px;
    height: 20px;
    position: absolute;
    color: #2c71b8;
    margin-top: -34px;
    margin-left: 115px;
}
.menu .color::after {
    content: "\fe40";
    position: relative;
    top: 8px;
    left: 3px;
}
.menu > li:hover .color {
    color: white;
    background-color: #2c71b8;
    display: block;
}
.head {
    font-size: 48px;
    font-weight: 900;
    color: white;
}
.products > div {
    width: 270px;
    float: left;
    border: 1px solid white;
    margin-top: 30px;
    padding-bottom: 20px;
}
.p-t-2, .p-t-5, .p-t-8 {
    margin-left: 30px;
    margin-right: 30px;
}
[class*="p-t-"] > .button {
    width: 210px;
    height: 45px;
    margin: 10px 30px;
    border: white solid 1px; 
    background-color: #2c71b8;
    color: white;
}
.price {
    position: relative;
    font-size: 44px;
    font-weight: 900; 
    font-family: 'Roboto', sans-serif;
    padding-left: 45px  ;
}
.index {
    position: absolute;
    display: inline-block;
    font-size: 30px;
    transform: translate(25%, 12%); 
}

.list {
    padding: 15px 30px 15px 15px;
}
.list h1 {
    font-size: 30px;
    font-weight: 900; 
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}
.list span {
    font-size: 19px;
    font-weight: 700;
}
.list p {
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
}
.button button  {
    width: 210px;
    height: 45px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: transparent;
    padding-left: 0%;
    line-height: 45px;
}
.button:hover {
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0.342);
}
.card {
    background-image: url("images2/icon (2).png");
    background-repeat: no-repeat;
    background-position: 89%;
    
}
[class*="p-t-"] {
    color: white;
    background-color: transparent;
    box-sizing: border-box;
   

}
.main .col-md-3 {
    height: 50px;
}
.device {
    width: 270px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}
.border, .like {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    background-repeat: no-repeat;
    background-position: center;

}  
.border {
    background-image: url("images2/icon (8).png");
    top: 10px;
    right: 10px;
}
.border:hover {
    background-image: url("images2/icon (6).png");
    background-color: #2c71b8;
}
.like {
    background-image: url("images2/icon (5).png");
    top: 50px;
    right: 10px;
}
.like:hover {
    background-image: url("images2/icon (7).png");
    background-color: #2c71b8;
}

.p-t-1 .device {
    background-image: url("images2/icon (17).png");
}  
.p-t-2 .device, .p-t-8 .device {
    background-image: url("images2/icon (9).png");
}
.p-t-3 .device, .p-t-9 .device {
    background-image: url("images2/icon (10).png");
}
.p-t-4 .device {
    background-image: url("images2/icon (16).png");
}
.p-t-5 .device {
    background-image: url("images2/icon (14).png");
}
.p-t-6 .device {
    background-image: url("images2/icon (12).png");
}
.p-t-7 .device {
    background-image: url("images2/icon (15).png");
}
.slide {
    width: 100%;
    height: 400px;
}
.more {
    border: none;
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
    font-size: 34px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    margin-left: 39%;
    margin-right: 37%;
}
